<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Server With Database Lab</title>

        <link rel='stylesheet' href='/static/style.css' />
    </head>
    <body>

        <header>
            Server With Database Lab
        </header>
        <div class='content'>
            <div class='form-title'> Login </div>
            <form method='POST' action='/view'>
                <input type='hidden' name='token_csrf' value='{{csrf}}' />
                <input type='text' name='username' placeholder='Email'/>
                <input type='password' name='password' placeholder='Password'/>
                
                <div>
                    <a href='/register'>Register</a>
                    <input type='submit' value='Log in'/>
                </div>
            </form>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class='flashes'>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </body>
</html>