<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Server With Database Lab</title>

        <link rel='stylesheet' href='/static/style.css' />
    </head>
    <body>
        <header>
            Server With Database Lab
            <div>
                {{info[0]}}
            </div>
            <div>
                Hello, {{info[1]}} {{info[2]}}
            </div>
            <div>
                Account Created: {{info[4]}}
            </div>
        </header>
        <div class='content'>
            <table style="border: 2px solid black; border-collapse: collapse; width:80%">
                <tr>
                    <th style="border: 2px solid black; border-collapse: collapse;">Username</th>
                    <th style="border: 2px solid black; border-collapse: collapse;">First Name</th>
                    <th style="border: 2px solid black; border-collapse: collapse;">Last Name</th>
                    <th style="border: 2px solid black; border-collapse: collapse;">User ID</th>
                </tr>
                {% for row in members %}
                    <tr>
                        <td style="border: 2px solid black; border-collapse: collapse; text-align: center;">
                            <a href='/view?id={{row[0]}}'>{{row[1]}}</a>
                        </td>
                        <td style="border: 2px solid black; border-collapse: collapse; text-align: center;">{{row[2]}}</td>
                        <td style="border: 2px solid black; border-collapse: collapse; text-align: center;">{{row[3]}}</td>
                        <td style="border: 2px solid black; border-collapse: collapse; text-align: center;">{{row[0]}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>