<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Server With Database Lab</title>

        <link rel='stylesheet' href='/static/style.css' />
    </head>
    <body>

        <header>
            Server With Database Lab
            <div>
                Hello, {{username}}
            </div>
        </header>
        <div class='content'>
            <div class='form-title'> Change Password </div>
            <form method='POST' action='/register'>
                <input type='hidden' name='token_csrf' value='{{csrf}}'/>
                <input type='password' name='password' placeholder='Password'/>
                <input type='password' name='vpassword' placeholder='Retype Password'/>
                
                <div>
                    <a href='/logout'>Logout</a>
                    <input type='submit' value='Change Password'/>
                </div>
            </form>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class='flashes'>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </body>
</html>